<% unless Rails.env == 'production' %>
  <!-- AnimatedPositionedComponent -->
<% end %>
<div>Add Flit::AnimatedPositioned template here</div>
<% unless Rails.env == 'production' %>
  <!-- /AnimatedPositionedComponent -->
<% end %>
