<% unless Rails.env == 'production' %>
  <!-- AnimatedCrossFade -->
<% end %>
<div>Add Flit::AnimatedCrossFade template here</div>
<% unless Rails.env == 'production' %>
  <!-- /AnimatedCrossFade -->
<% end %>
