<% unless Rails.env == 'production' %>
  <!-- AnimatedOpacity -->
<% end %>
<div>Add Flit::AnimatedOpacity template here</div>
<% unless Rails.env == 'production' %>
  <!-- /AnimatedOpacity -->
<% end %>
