<% unless Rails.env == 'production' %>
  <!-- AnimatedPhysicalModel -->
<% end %>
<div>Add Flit::AnimatedPhysicalModel template here</div>
<% unless Rails.env == 'production' %>
  <!-- /AnimatedPhysicalModel -->
<% end %>
