<% unless Rails.env == 'production' %>
  <!-- AnimatedSwitcher -->
<% end %>
<div>Add Flit::AnimatedSwitcher template here</div>
<% unless Rails.env == 'production' %>
  <!-- /AnimatedSwitcher -->
<% end %>
