<% unless Rails.env == 'production' %>
  <!-- AnimatedPadding -->
<% end %>
<div>Add Flit::AnimatedPadding template here</div>
<% unless Rails.env == 'production' %>
  <!-- /AnimatedPadding -->
<% end %>
