<% unless Rails.env == 'production' %>
  <!-- AnimatedContainer -->
<% end %>
<div>Add Flit::AnimatedContainer template here</div>
<% unless Rails.env == 'production' %>
  <!-- /AnimatedContainer -->
<% end %>
