<% unless Rails.env == 'production' %>
  <!-- CircularProgressIndicator -->
<% end %>
<div>Add Flit::CircularProgressIndicator template here</div>
<% unless Rails.env == 'production' %>
  <!-- /CircularProgressIndicator -->
<% end %>
