<% unless Rails.env == 'production' %>
  <!-- CustomScrollView -->
<% end %>
<div>Add Flit::CustomScrollView template here</div>
<% unless Rails.env == 'production' %>
  <!-- /CustomScrollView -->
<% end %>
