<% unless Rails.env == 'production' %>
  <!-- ElevatedButton -->
<% end %>
<div>Add Flit::ElevatedButton template here</div>
<% unless Rails.env == 'production' %>
  <!-- /ElevatedButton -->
<% end %>
