<% unless Rails.env == 'production' %>
  <!-- FloatingActionButton -->
<% end %>
<div>Add Flit::FloatingActionButton template here</div>
<% unless Rails.env == 'production' %>
  <!-- /FloatingActionButton -->
<% end %>
