<% unless Rails.env == 'production' %>
  <!-- FractionallySized -->
<% end %>
<div>Add Flit::FractionallySized template here</div>
<% unless Rails.env == 'production' %>
  <!-- /FractionallySized -->
<% end %>
