<% unless Rails.env == 'production' %>
  <!-- FractionalTranslation -->
<% end %>
<div>Add Flit::FractionalTranslation template here</div>
<% unless Rails.env == 'production' %>
  <!-- /FractionalTranslation -->
<% end %>
