<% unless Rails.env == 'production' %>
  <!-- GestureDetector -->
<% end %>
<div>Add Flit::GestureDetector template here</div>
<% unless Rails.env == 'production' %>
  <!-- GestureDetector -->
<% end %>
