<% unless Rails.env == 'production' %>
  <!-- InteractiveViewer -->
<% end %>
<div>Add Flit::InteractiveViewer template here</div>
<% unless Rails.env == 'production' %>
  <!-- /InteractiveViewer -->
<% end %>
