<% unless Rails.env == 'production' %>
  <!-- IntrinsicWidth -->
<% end %>
<div>Add Flit::IntrinsicWidth template here</div>
<% unless Rails.env == 'production' %>
  <!-- /IntrinsicWidth -->
<% end %>
