<% unless Rails.env == 'production' %>
  <!-- IntrinsicHeight -->
<% end %>
<div>Add Flit::IntrinsicHeight template here</div>
<% unless Rails.env == 'production' %>
  <!-- /IntrinsicHeight -->
<% end %>
