<% unless Rails.env == 'production' %>
  <!-- LinearProgressIndicator -->
<% end %>
<div>Add Flit::LinearProgressIndicator template here</div>
<% unless Rails.env == 'production' %>
  <!-- /LinearProgressIndicator -->
<% end %>
