<% unless Rails.env == 'production' %>
  <!-- OutlinedButton -->
<% end %>
<div>Add Flit::OutlinedButton template here</div>
<% unless Rails.env == 'production' %>
  <!-- /OutlinedButton -->
<% end %>
