<% unless Rails.env == 'production' %>
  <!-- PopupMenuButton -->
<% end %>
<div>Add Flit::PopupMenuButton template here</div>
<% unless Rails.env == 'production' %>
  <!-- /PopupMenuButton -->
<% end %>
