<% unless Rails.env == 'production' %>
  <!-- PrimaryScrollContainer -->
<% end %>
<div>Add Flit::PrimaryScrollContainer template here</div>
<% unless Rails.env == 'production' %>
  <!-- /PrimarycrollContainer -->
<% end %>
