<% unless Rails.env == 'production' %>
  <!-- Scaffold -->
<% end %>
<div>Flit::Scaffold - </div>
<%= render @app_bar %>
<%= render @body %>
<div> - Flit::Scaffold</div>
<% unless Rails.env == 'production' %>
  <!-- /Scaffold -->
<% end %>
