<% unless Rails.env == 'production' %>
  <!-- ScrollConfiguration -->
<% end %>
<div>Add Flit::ScrollConfiguration template here</div>
<% unless Rails.env == 'production' %>
  <!-- /ScrollConfiguration -->
<% end %>
