<% unless Rails.env == 'production' %>
  <!-- SetDefaultValue -->
<% end %>
<div>Add Flit::SetDefaultValue template here</div>
<% unless Rails.env == 'production' %>
  <!-- /SetDefaultValue -->
<% end %>
