<% unless Rails.env == 'production' %>
  <!-- SliverToBoxAdapter -->
<% end %>
<div>Add Flit::SliverToBoxAdapter template here</div>
<% unless Rails.env == 'production' %>
  <!-- /SliverToBoxAdapter -->
<% end %>
