<% unless Rails.env == 'production' %>
  <!-- TweenAnimation -->
<% end %>
<div>Add Flit::TweenAnimation template here</div>
<% unless Rails.env == 'production' %>
  <!-- /TweenAnimation -->
<% end %>
